
/* Configuration de la page d'authentification */
body {
    background-image: url('../images/wallpaperzaun.jpg');
    font-family: 'Fira Sans', sans-serif;
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #A10684;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #EE82EE;
    cursor: not-allowed;
}

button:hover {
    background-color: #723E64;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin: 5px 0 15px;
    padding: 8px;
    border-left: 5px #fff;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#info-container {
    position: fixed;
    height: 100vh;
    right: 0px;
    top: 0px;
    text-align: center;
    width: 500px;
    background: #333;
}

#game-info {
    padding: 5px;
    margin: 20px;
    color: white;
    background: #444;
    border-radius: 20px
}

#config-players-container {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    border: 4px solid #00561B;
    border-radius: 20px;
    box-shadow: 0 0 15px #00561B;
}

#players-inputs {
    margin: 15px 0;
}

/* configuration de la page du jeu */
#body-game {
    background-image: url('../images/barzaun.webp');
}

canvas {
    margin-right: 500px;
    border: 4px solid #00561B;
    border-radius: 400px;
    box-shadow: 0 0 20px #00561B;
}

#players-list div {
    font-size: larger;
    margin: 30px;
    background-color: #444;
    padding: 20px 5px;
    border-radius: 10px;
}


/* Bouton de paramètre*/
#icon {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 50px;
    cursor: pointer;
}

.menu {
    visibility: hidden; /* Caché par défaut */
    opacity: 0; /* Invisible au départ */
    position: absolute; 
    top: 40px;
    left: 5px;
    background-color: #333; 
    color: #fff; 
    padding: 10px 0; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    z-index: 10;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li button {
    width: 100%; 
    background-color: transparent; 
    color: white; 
    border: none; 
    font-size: 16px; 
    text-align: left;
}

.menu ul li button:hover {
    background-color: #444;
}

/* Lorsqu'on survole la zone, le menu devient visible */
.settings-container:hover .menu {
    visibility: visible; 
    opacity: 1; 
}


/* Affichage de l'interface de fin de partie */
#end-game-stats {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background: #333;
    padding: 100px;
    box-shadow: 0 0 20px #00561B;
    border-radius: 20px;
    z-index: 1000;
}

#end-game-stats table {
    width: 100%;
    border-collapse: collapse;
}

#end-game-stats th, #end-game-stats td {
    border: 1px solid whitesmoke;
    padding: 8px;
    text-align: center;
}

#end-game-stats th {
    background-color: #708090;
}

#end-game-stats button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #A10684;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#end-game-stats button:hover {
    background-color: #723E64;
}


